/*_variables.scss */
/* Body Text Styles */
$dark-grey: #242021;
$wine-red: RGB( 173, 6, 23);
$sky-blue: #E3E9EF;
$sky-blue-solid: rgba(199, 212, 224, 1);
$deep-blue: #5e8ab4;
$grey: #4e4e4e;
$grey-blue: #758592;

$light-grey-gradient: linear-gradient(#fdfdfd, #eff0f0);
$pale-blue: #7ba1c2;
$arctic-blue: #5e8ab4;
$white: #ffffff;
$small-font-size: 11px;
$base-font-size: 12pt;
$medium-font-size: 13pt;
$medium-large-font-size: 24px;
$large-font-size: 26px;
$larger-font-size: 30px;
$header-font-size: 35px;
$big-header-font-size: 37.3333333px;
$bigger-header-font-size: 34pt;
$biggest-header-font-size: 40pt;

$base-font-family: Kevit;
$base-font-weight: 400;
$heavy-font-weight: 700;

$light-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
$heavy-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
