.columned-menu {
  display: flex;
  justify-content: space-between;
  font-family: FranklinGothicBookCondensed;
  flex-wrap: wrap;
  @media(max-width:500px) {
    align-items: center;
    justify-content: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 22px;
    width: 210px;
    min-width:210px;
    .titled-section {
      position: relative;
      margin-top: 15px;
      margin-bottom: 63px;
      transition: .5s;
        &:before {
          position: absolute;
          top: -15px;
          content: "";
          height: 2px;
          width: 60px;
          background: $wine-red;
        }
        h3 {
          color: $wine-red;
          margin-bottom: 34px;
          font-size: 18px;
          font-family: FranklinGothicBook;
        }
        .item {
            line-height: 14px;
            margin-bottom: 8px;
          a {
            padding-left: 10px;
            text-decoration: none;
            color: $grey-blue;
            font-size: 18px;
            position: relative;
              &:before {
                content: '';
                position: absolute;
                left: 0;
                top: calc(50% - 3px);
                border-radius: 50%;
                background: $arctic-blue;
                height: 3px;
                width: 3px;
              }
          }
          .no-profile {
            color: $dark-grey;
          }
        }
    }
  }
}
