.events-list-container {
  display: flex;
  justify-content: flex-end;
  @media(max-width: 500px) {
    padding: 0px 8px;
  }
}

.events-list {
  width: 775px;
}

.event {
  margin-top: 20px;
  p {
    margin-left: 0px !important;
  }
  .event-date-header {
    font-family: KievitBold;
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: FranklinGothicDemi;
    letter-spacing: 10px;
  }
  .event-header {
    display: flex;
    .event-icon {
      flex: 1;
      margin-right: 5px;
    }
    .event-header-info {
      flex: 3;
    }
  }
  .event-title {
    font-family: KievitBold;
    font-size: 30px;
    margin-left: 0px;
    color: $wine-red;
  }
  .event-venue {
    font-family: FranklinGothicDemiItalic;
  }
  .learn-more {
    font-style: italic;
    margin-left: 0px;
  }
}
