.events-list-container {
  display: flex;
  justify-content: flex-end;
}

.events-list {
  width: 775px;
}

.event {
  margin-top: 20px;
  p {
    margin-left: 0px !important;
  }
  .event-date-header {
    font-family: KievitBold;
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: FranklinGothicDemi;
    letter-spacing: 10px;
  }
  .event-title {
    font-family: KievitBold;
    font-size: 30px;
    margin-left: 0px;
    color: $wine-red;
  }
  .event-venue {
    font-family: FranklinGothicDemiItalic;
  }
  .learn-more {
    font-style: italic;
    margin-left: 0px;
  }
}
