.img-row {
  display: flex;
  height: 270px;
  margin-bottom: 30px;
  img {
    flex: 1;
    min-width: 100px;
    height: auto;
    object-fit: cover;
  }
  img:nth-child(1) {
    margin-right: 10px;
  }
}
