div.logix-main-content {
  display: flex;
  flex-direction: column;
  flex: 4;
    div.logix-content-title {
      display: flex;
      flex-direction: column;
        h1 {
          font-size: 55px;
          color: $wine-red;
          font-weight: $heavy-font-weight;
          font-family: KievitBoldItalic;
          margin-bottom: 5px;
          margin-top: 0px;
          line-height: 80px;
        }

        h2 {
          font-size: 26px;
          color: $wine-red;
          margin-top: -10px;
        }

        p {
          color: $arctic-blue;
        }
    }

  div.solution-page-area {
    font-size: 13pt;
  }
}
