.mobile-toggle {
  padding: 0px;
  height: 24px;
  width: 30px;
  position: relative;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: block;
    @include breakpoint(500px){
      display: none;
    }
    span {
      height: 3px;
      width: 30px;
      background: $wine-red;
      position: absolute;
      top: calc(50% - 1.5px);
    }
      &:before {
        transition: .25s ease-out;
        height: 3px;
        width: 30px;
        background: $wine-red;
        content: '';
        position: absolute;
        top: 3px;
    }
    &:after {
      transition: .5s ease-out;
      height: 3px;
      width: 30px;
      background: $wine-red;
      content: '';
      position: absolute;
      bottom: 3px;
    }
}

.mobile-toggle.focus {
  padding: 0px;
  height: 24px;
  width: 30px;
  position: relative;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
    span {
      height: 3px;
      width: 30px;
      opacity: 0;
      background: $wine-red;
      position: absolute;
    }
      &:before {
      height: 3px;
      width: 30px;
      background: $wine-red;
      content: '';
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      transform-origin: left;
    }
    &:after {
      height: 3px;
      width: 30px;
      background: $wine-red;
      content: '';
      position: absolute;
      bottom: 0;
      transform: rotate(-45deg);
      transform-origin: left;
    }
}
