.news-article {
  margin-bottom: 40px;
  .article-head {
    display: flex;
    .news-image {
      height: 125px;
      display: inline;
      margin-right: 15px;
    }
    .article-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      .news-title {
        color: $wine-red;
        font-size: 34px;
        float: right;
        font-family: FranklinGothicDemi;
      }
      .news-date {
        font-weight: 600;
        font-style: italic;
        color: $arctic-blue;
      }
    }
  }

  .news-preview {
    color: $arctic-blue;
    font-size: 26px;

    p {
      margin-bottom: 10px;
      display: inline;
    }
  }
}
