.red-large-font-list-item {
  color: $wine-red;
  font-family: FranklinGothicBookCondensed;
  font-size: 24px;
    .large-text {
      font-family: FranklinGothicBook;
      font-size: 100px;
      margin-right: 20px;
    }
}
