.red-large-font-list-item {
  color: $wine-red;
  font-family: FranklinGothicBookCondensed;
  font-size: 24px;
    .large-text {
      font-family: FranklinGothicDemiItalic;
      font-size: 80px;
      margin-right: 20px;
      line-height: 80px;
    }
}
