div.our-solutions {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 10px;
		div.title {
					color: $wine-red;
					flex: 2;
					font-family: FranklinGothicBook;
					font-size: $medium-font-size;
				}
				
		div.solutions-menu {
			display: flex;
			justify-content: space-between;

			margin-top: 20px;
				h3 {
					color: $arctic-blue;
					position: relative;
					padding-left: 30px;
					font-family: KievitBold;
					font-size: $bigger-header-font-size;
					display: flex;
					align-items: center;
						&:before {
							content: '';
							border-top: 20px solid transparent;
							border-bottom: 20px solid transparent;
							border-left: 20px solid $arctic-blue;
							position: absolute;
							left: 0;
						}
				}
				
				ul {
					list-style: none;
						li {
							font-size: $medium-font-size;
							font-family: KievitMedium;
								a {
									color: $arctic-blue;
										&:hover {
											color: $wine-red;
										}
										
										&:visited {
											color: $wine-red;
										}
								
								}
							ul li a {
								font-family: Kievit;
								font-size: 11pt;
							}
						}
				}
		}
}