div.logix-page div.solutions-archive-hero.hero-section {
	max-height: 250px;
	min-height: 250px;

	}

div.solutions-archive-content {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;

	color: $arctic-blue;
	font-size: 20pt;
	width: 100%;
	max-width: 1175px;
	line-height: 1.2;
		p {
			max-width: 700px;
			margin-left: 390px;
			font-size: 28px;
			@media(max-width: 500px) {
				margin-left: 0px;
			}
		}
}

div.solutions-archive-content.why-logix {
	p {
		margin-left: 0px;
	}
}


div.solutions-archive {
	min-height: 300px;
	max-width: 1175px;
	width: 100%;
	display: flex;
	align-content: flex-start;
	padding-left: 390px;
	@media(max-width: 500px) {
		padding-left: 0px;
	}
		div.title {
			max-height: 40px;
			font-size: 24px;
		}
	ul.menu {
		margin-left: 0px;
		font-size: 22px;
		font-family: KievitMedium;
		list-style: none;
			a {
				color: $arctic-blue;
				text-decoration: none;
					&:hover {
						color: $wine-red;
					}

					&:visited {
						color: $wine-red;
					}

			}
			ul {
				margin-left: 20px;

			}
	}
		div.solutions-list {
			display: flex;
			min-height: 300px;
			margin-top: 20px;
				div.solution-image {
					max-height: 300px;
					margin-top: 20px;
					flex: 2;
					display: flex;
					overflow:hidden;
						img {
							object-fit: contain;
							height:unset;
						}
				}
				div.solutions-menu {
					flex: 1;
						ul {
							li {
								a {
									font-size:20pt;
								}
							}
						}
				}
		}
}
