div.solution-page {
	display: flex;
	margin-bottom: 40px;
	max-width: 1175px;
	width: 100%;
	flex-direction: column-reverse;
	padding-left: 10px;
	padding-right: 10px;
	@include breakpoint(500px){
		flex-direction: row;
		padding: 0px;
	}
		.solution-main-content {
			display: flex;
			flex-direction: column;
			flex: 5;
			max-width: 750px;
				.title-area {
					display: flex;
					flex-direction: column;
					margin-bottom: 40px;
						h1 {
							font-size: 55px;
							color: $wine-red;
							font-weight: $heavy-font-weight;
							font-family: FranklinGothicDemiItalic;
							margin-bottom: 20px;
							letter-spacing: 2px;
							line-height: 72px;
						}
						h2 {
							font-size: 26px;
							color: $wine-red;
							margin-top: -25px;
							margin-bottom: 25px;
						}

						h5 {
							font-size: $large-font-size;
							color: $arctic-blue;
						}
				}

			.solution-page-area {
				font-size: 24px;
				p {
          color: $arctic-blue;
					font-size: 24px;
        }
				ul {
					color: $arctic-blue;
					font-size: 24px;
				}

					.has-red-divider-uptop {
						font-size: 24px;
					}

			}
		}



		div.solution-sidebar {
			display: flex;
			flex-direction: column;
			padding: 0px;
			flex: 2;
			margin-top: 200px;
				@include breakpoint(500px){
					padding: 0px 45px 0px 0px;
				}
				.has-red-divider-uptop {
					font-size: 24px;
				}
		}

	}

	.solution-page-area {
		font-size: 18px;
		p {
			color: $arctic-blue;
			font-size: 26px;
		}
		ul {
			color: $arctic-blue;
			font-size: 24px;
		}

			.has-red-divider-uptop {
				font-size: 24px;
			}

	}
